@import "tailwindcss";

@theme {
	--color-primary: #252a35;
	--color-secondary: #967d54;
	--color-tertiary: #3d6655;
	--color-text: #f6f2e8b8;
	--container-site: 1200px;
	--color-secondary-t20: #EBE6E0;
}

/* *** UNIVERSAL *** */
h3 {
	margin-bottom: 0.75rem;
}


/* *** THEME STYLING *** */
.st-theme-border-1 {
	@apply border-secondary border-t-8 border-b-8;
}
.st-max-w-60perc {
	max-width: calc(var(--container-site) * 0.66);
}
.text-center .st-max-w-60perc {
	margin: auto;
	text-align: center;
}

.st-section-s1 {
	@apply py-24 w-full;
}

.st-hero-text-lead {
	font-size: 1.2rem;
}

.bg-primary,
.bg-primary\/90,
.bg-primary\/80,
.bg-primary\/70,
.bg-primary\/50,
.bg-primary :is(h1, h2, h3, h4, h5, h6),
.bg-primary\/90 :is(h1, h2, h3, h4, h5, h6),
.bg-primary\/80 :is(h1, h2, h3, h4, h5, h6),
.bg-primary\/70 :is(h1, h2, h3, h4, h5, h6),
.bg-primary\/50 :is(h1, h2, h3, h4, h5, h6) {
	@apply !text-white;

}

.bg-secondary,
.bg-secondary\/90,
.bg-secondary\/80,
.bg-secondary\/70,
.bg-secondary\/50,
.bg-secondary :is(h1, h2, h3, h4, h5, h6),
.bg-secondary\/90 :is(h1, h2, h3, h4, h5, h6),
.bg-secondary\/80 :is(h1, h2, h3, h4, h5, h6),
.bg-secondary\/70 :is(h1, h2, h3, h4, h5, h6),
.bg-secondary\/50 :is(h1, h2, h3, h4, h5, h6) {
	@apply !text-black;
}

.st-btn-primary {
	position: relative;
	isolation: isolate;
	@apply inline-block rounded-none px-6 py-3 bg-primary text-white uppercase transition-colors duration-300 border-1 border-text;
}
.st-btn-primary::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: var(--color-text);
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease;
}
.st-btn-primary:hover {
	@apply text-primary;
}
.st-btn-primary:hover::before {
	transform: scaleX(1);
}

.st-btn-secondary {
	position: relative;
	isolation: isolate;
	@apply inline-block rounded-none px-6 py-3 bg-secondary text-primary uppercase transition-colors duration-300 border-1 border-secondary;
}
.st-btn-secondary::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: var(--color-text);
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease;
}
.st-btn-secondary:hover {
	@apply text-primary;
}
.st-btn-secondary:hover::before {
	transform: scaleX(1);
}

/* *** ACF REPEATER FIELDS BLOCK RELATED */
.st-additional-overlap-container {
	@apply relative;
}
.st-additional-overlap-container .st-additional-overlap-container-content {
	@apply mt-[-6rem] px-6;
}


